<a href="https://colab.research.google.com/github/MeenalJy/data-structure-basics/blob/main/data_structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Structures for DevOps Engineers

Let's start data structures with list type.

In [1]:
list_of_books = ["Hindi", "English", "Mathematics", "Science"]

list_of_students = ["Rinky", "Pinky", "Tinky", "Dinky"]

print(list_of_books[2])

Mathematics

How to insert value in the list?

In [2]:
list_of_books.append("Economics")

In [3]:
print(list_of_books[4])

Economics

In [11]:
books = str(input("Choose your favourite book"))
if books == "English":
  print("Your favourite book is English")

elif books == "Hindi":
    print("Second favourite book is Hindi")

else:
  print("book not found!")

Choose your favourite bookdfgh
book not found!

Example for for loop:

In [13]:
list_of_cloud = ["aws", "gcp", "azure"]

list_of_env = ["dev","test", "prod"]

list_of_cloud.append("oracle")

for cloud in list_of_cloud:
  print("Most popular clouds are", cloud)

Most popular clouds are aws
Most popular clouds are gcp
Most popular clouds are azure
Most popular clouds are oracle

Example:2: for loop

In [16]:
for i in range(8):
  print("I thought I was never going to learn Python, but look at me now. I conquered it!")

I thought I was never going to learn Python, but look at me now. I conquered it!
I thought I was never going to learn Python, but look at me now. I conquered it!
I thought I was never going to learn Python, but look at me now. I conquered it!
I thought I was never going to learn Python, but look at me now. I conquered it!
I thought I was never going to learn Python, but look at me now. I conquered it!
I thought I was never going to learn Python, but look at me now. I conquered it!
I thought I was never going to learn Python, but look at me now. I conquered it!
I thought I was never going to learn Python, but look at me now. I conquered it!

let's learn about Dictionary type.

In [18]:
dict_of_jculture = {"Ring":"Movie",
                   "Forest of love":"Series",
                   "Tokyo vampire hotel":"Series",
                    "Deathnote":"Manga and Anime"
                    }

print(dict_of_jculture.get("Ring"))

print(dict_of_jculture["Deathnote"])

Movie
Manga and Anime

How to insert value in dictionary?

In [21]:
dict_of_jculture = {"Ring":"Movie",
                   "Forest of love":"Series",
                   "Tokyo vampire hotel":"Series",
                    "Deathnote":"Manga and Anime"
                    }

print(dict_of_jculture.get("Ring"))

print(dict_of_jculture["Deathnote"])

dict_of_jculture.update({"Audition":"Movie"})

print(dict_of_jculture.get("Audition"))

print(dict_of_jculture)

Movie
Manga and Anime
Movie
{'Ring': 'Movie', 'Forest of love': 'Series', 'Tokyo vampire hotel': 'Series', 'Deathnote': 'Manga and Anime', 'Audition': 'Movie'}